<a href="https://colab.research.google.com/github/hazelvv/Jump-to-Python/blob/main/jumptopython_chap2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#1
a=80
b=75
c=55
print((a+b+c)/3)

70.0

In [ ]:
#2
num = 13
if(num %2 ==1) :print('홀수')
if(num %2 ==0) :print('짝수')

홀수

In [ ]:
#3 주민등록번호 나누기

pin = "881120-1068234"

pin.split('-')

yyyymmdd=pin[0:6]

if pin[0] == '0':

    b=20

else:

    b=19

c=int(b)+int(pin[0:6])

print('yyyymmdd =',c)

num=pin[7:14]

print('num = ',num)



#연월일 부분출력

print('print(',pin[0:2],'년', pin[2:4],'월', pin[4:6],'일)')



print('print(', num,')')

yyyymmdd = 881139
num =  1068234
print( 88 년 11 월 20 일)
print( 1068234 )

In [ ]:
#4 주민등록번호 인덱싱
pin = "881120-1068234"
print(pin[7])

1

In [ ]:
#5 문자열바꾸기
a = "a:b:c:d"
b = a.replace(":", "#")
print(b)

a#b#c#d

In [ ]:
#6 리스트역순 정렬하기 [1,3,5,4,2]
a = [1, 3, 5, 4, 2]
a.sort()
print(a)
a.reverse()
print(a)

[1, 2, 3, 4, 5]
[5, 4, 3, 2, 1]

In [ ]:
#7 리스트를 문자열로 만들기
a = ['Life', 'is', 'too', 'short']
result = " ".join(a)
print(result)

Life is too short

In [ ]:
#8 튜플 더하기
a = (1, 2, 3)
a = a + (4,)
print(a)

(1, 2, 3, 4)

In [ ]:
#9 딕셔너리의 키
a= dict()
a

#다음 중 오류가 발생하는 경우를 고르고 이유를 설명해보자
a['name']='python'
a[('a',)]='python'
a[[1]] ='python'
a[250] = 'python'

## 답:  a[[1]] ='python' // 딕셔너리의 키는 문자열 또는 튜플이어야 하기 때문에 리스트의 요소를 키로 사용할 수 없습니다.

In [ ]:
#10 딕셔너리 값 추출하기
#딕셔너리 a에서 'B'에 해당하는 값을 추출해 보자.
a = {'A': 90, 'B': 80, 'C': 70}
result = a.pop('B')
print(a)
print(result)

{'A': 90, 'C': 70}
80

In [ ]:
#11 리스트에서 중복 제거하기
a = [1, 1, 1, 2, 2, 3, 3, 3, 4, 4, 5]
aSet = set(a)
b = list(aSet)
print(aSet)
print(b)

{1, 2, 3, 4, 5}
[1, 2, 3, 4, 5]

In [ ]:
#12 파이썬 변수
#파이썬은 다음처럼 동일한 값에 여러 개의 변수를 선언할 수 있다. 다음과 같이 a,b변수를 선언한 후
##a의 두번째 요솟값을 변경하려면 b값은 어떻게 될까? 그리고 이런 결과가 나타나는 이유를 설명해보자

a = b = [1, 2, 3]
a[1] = 4
print(b)

### 답:
# 변수를 선언하면 해당 변수에 메모리 공간이 할당되고, 값을 할당하면 해당 메모리 공간에 값이 저장됩니다.
# a = b = [1, 2, 3]과 같은 코드는 a와 b라는 두 개의 변수를 선언하고, 두 변수에 동일한 값인 [1, 2, 3]을 할당합니다.
# 이 경우 a와 b는 같은 메모리 공간을 참조합니다.
# a[1] = 4와 같은 코드는 a의 두 번째 요소 값을 4로 변경합니다. 이 경우 b의 두 번째 요소 값도 4로 변경됩니다.
# 왜냐하면 a와 b는 같은 메모리 공간을 참조하기 때문입니다.

[1, 4, 3]